*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 45px;
    font-weight: 500;

    color: #7F7F7F;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 900px;
    border: 1px solid #e8e8e8;
    border-radius: 5%;
    justify-content: center;
    align-items: center;

    background-color: #D4D4D4;
    box-shadow: 3px 0px 0px;
}

.mac-buttons{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: 15px;
    margin-left: 10px;
}

.display{
    width: 500px;
    height: 200px; 
    padding: 10px;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 60px;
    color: #000000;
    background-color: #AAAAAA;

    box-shadow: inset 0 0 10px;
}

.buttons{
    width: 500px;
    height: 600px;
    
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.button-first{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 5px;
    background-color: #FE5F57;
}

.button-second{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #FEBB2F;
    margin-left: 5px;
    margin-right: 5px;
}

.button-third{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #29C840;
}

.button{
    display: flex;

    width: 120px;
    height: 120px;
    border: 1px solid #cbcbcb;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    margin: 0px;
    
    border-radius: 100px;

    box-shadow: 2px 0px 0px;
}

.zero{flex-grow: 1;}

.first{
    background-color: #E9D7DB
}

.first:hover{
    background-color: #E9D7DB;
    opacity: 0.59
}

.first:active{
    background-color: #E9D7DB;
    opacity: 0.43
}

.second{
    background-color: #DABABD;
}

.second:hover{
    background-color: #DABABD;
    opacity: 0.59
}

.second:active{
    background-color: #DABABD;
    opacity: 0.43
}

.third{
    background-color: #D49EA0;
}

.third:hover{
    background-color: #D49EA0;
    opacity: 0.59
}

.third:active{
    background-color: #D49EA0;
    opacity: 0.43
}

.fourth{
    background-color: #D28077;
}

.fourth:hover{
    background-color: #D28077;
    opacity: 0.59
}

.fourth:active{
    background-color: #D28077;
    opacity: 0.43
}

.fifth{
    background-color: #D07471;
}

.fifth:hover{
    background-color: #D07471;
    opacity: 0.59
}

.fifth:active{
    background-color: #D07471;
    opacity: 0.43
}